<ul class="list-unstyled">
    <li>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Home">
            <i class="fa fa-bars"></i>
          </button>
    </li>    
    <li>
        {{getDeviceTitle()}}
    </li>
    <li>
      <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Schedules">
        <i class="fa fa-clock"></i>
      </button>
    </li>
    <li>
      <button type="button" 
              class="btn btn-primary" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Settings"
              (click)="settingsClick()">
        <i class="fa fa-cog"></i>
      </button>
    </li>
</ul>