ul {list-style: none;padding-left:0px;}
li:hover {cursor: pointer;}
table.solenoids {width:100%;}
table.solenoids td {border-top:1px solid #777;}
table.solenoids tr:hover {cursor: pointer;}

h4 {float:left;margin-top:5px;}
button {float:left;margin:5px;}