<div *ngIf="loaded">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-device-menu [Device]="device"></app-device-menu>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="schedules">
                <tbody>
                    <tr *ngFor="let schedule of schedules" (click)="editSchedule(schedule)">
                        <td>{{schedule.Name}} </td>
                        <td>{{schedule.StartDate}} </td>
                        <td>{{schedule.StartHours}} </td>
                        <td>{{schedule.StartMins}} </td>
                        <td>{{schedule.Duration}} </td> 
                        <td>{{schedule.Days}} </td>                    
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success" (click)="newSchedule()">
                <i class="fa fa-plus"></i>
            </button>
            <br>
        </div>
        <div class="col-2"></div>
    </div>
</div>