<div *ngIf="!loaded"></div>
<div class="row" *ngIf="loaded">
    <div class="col-2"></div>

    <div class="col-8">
        <app-device-tools [device]="device"></app-device-tools>
    </div>
    <div class="col-2"></div>
</div>
<div class="row" *ngIf="loaded">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="solenoids">
            <tbody>
                <tr *ngFor="let schedule of schedules" (click)="editSolenoid(solenoid)">
                    <td>{{schedule.Name}} </td>
                    <td>{{schedule.StartDate}} </td>
                    <td>{{schedule.StartHours}} </td>
                    <td>{{schedule.StartMins}} </td>
                    <td>{{schedule.Duration}} </td> 
                    <td>{{schedule.Days}} </td>                    
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" (click)="newSolenoid()">
            <i class="fa fa-plus"></i>
        </button>
        <br>
    </div>
    <div class="col-2"></div>
</div>