<div *ngIf="!loaded"></div>
<div class="row" *ngIf="loaded">
    <div class="col-3"></div>
    <div class="col-6">
        <h4>Device</h4>
        <table class="table table-striped">
            <tbody>
                <tr><td>Name: {{device.Name}}</td></tr>
                <tr><td>Description: {{device.Description}}</td></tr>
                <tr><td>Last updated: {{getLastUpdated()}}</td></tr>
                <tr><td>Device MAC: {{device.DeviceMAC}}</td></tr>
                <tr><td>Software version: {{device.SoftwareVersion}}</td></tr>
                <tr><td>Device ID: {{device.id}}</td></tr>
                <tr><td>Mode: {{device.Mode}}</td></tr>
                <tr><td>State: {{device.State}}</td></tr>
                <tr><td>Status: {{device.Status}}</td></tr>                
            </tbody>
        </table>
        <h4>Solenoids</h4>  
        <ul>
          <li *ngFor="let solenoid of solenoids">
              <app-newedit-solenoid [solenoid]="solenoid"></app-newedit-solenoid>
          </li>
        </ul>             
        <h4>Irrigation programs</h4>        
        <table class="table table-striped">
            <tbody>           
                <tr *ngFor="let p of irrigationPrograms" class="tr">
                    <td>{{p.name}} </td>
                    <td>{{dateTimeFormat(p.start)}} </td>
                    <td>{{dateTimeFormat(p.finished)}} </td>
                    <td>{{p.duration}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>