<div class="row" *ngIf="loaded">
  <div class="col-2"></div>
  <div class="col-8">
    <div *ngIf="loaded">
        <div class="row left">
          <button (click)="back()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Back">
              <i class="fa fa-angle-left"></i>
          </button>
          <h5>{{getTitle()}}</h5>
        </div>
        
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="spi.Name" required>
        </div>

        <div class="form-group">
          <label for="description">Clock</label>
          <input type="text" class="form-control" id="clock" [(ngModel)]="spi.Clock" required>
        </div>

        <div class="form-group">
          <label for="hardwareType">Chip select</label>          
          <input type="text" class="form-control" id="cs" [(ngModel)]="spi.CS" required>
        </div>

        <div class="form-group">
          <label for="address">MISO (Master In Slave Out)</label>
          <input type="text" class="form-control" id="miso" [(ngModel)]="spi.MISO" required>
        </div>

        <div class="form-group">
          <label for="address">MOSI (Master Out Slave In)</label>
          <input type="text" class="form-control" id="mosi" [(ngModel)]="spi.MOSI" required>
        </div>

        <button class="btn btn-success btn-sm" (click)="save()">Save</button>
        <button class="btn btn-warning btn-sm" (click)="delete()">Delete</button>
        <button class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>

      </div>  
  </div>
  <div class="col-2"></div>
</div>