<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="history">History</a></li>
          <li role="presentation"><a href="schedules">Schedules</a></li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel {{getStatusClass()}}">
            <div class="panel-heading">
                <div class="panel-title">
                    {{status.state}}
                </div>
                <div class="panel-content">
                   <div class="row" *ngIf='status.duration > 0'>
                       <div class="progress" >
                           <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
                               aria-valuenow="{{elapsed}}" aria-valuemin="0" aria-valuemax="{{duration}}" style="width: {{elapsed}}%;min-width:2em;">
                               {{elapsed}}%
                           </div>
                       </div>
                   </div>
                   <div class="row" ng-show='Status.Duration > 0'>
                       <div class="col-md-6">
                           Start:{{formatDateShort(status.start)}}
                       </div>
                       <div class="col-md-6">
                           End:{{getEnd()}}
                       </div>
                   </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Pressure: {{status.pressure}} kPa
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    {{formatDateShort(status.updatedAt)}}
                </div>
            </div>
        </div>
    </div>                              
    <div class="col-md-3"></div>
</div>
<div class="row">
    <form name="ManualProgram">
    <div class="col-md-3"></div>
    <div class="col-md-3">    
       <div class="input-group input-group-lg">
          <span class="input-group-addon">Station  </span>
            <select id="selStation" class="form-control" [(ngModel)]="manualStation" required>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>               
          </select>          
       </div> 
    </div>
    <div class="col-md-3">    
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Duration</span>
            <select id="tbDuration" class="form-control" [(ngModel)]="ManualDuration" required>
               <option value="5">5 minutes</option>
               <option value="30">30 minutes</option>
               <option value="45">45 minutes</option>
               <option value="60">1 hour</option>
               <option value="120">2 hours</option>
               <option value="150">2.5 hours</option>
               <option value="180">3 hours</option>
               <option value="210">3.5 hours</option>               
               <option value="240">4 hours</option>
               <option value="270">4.5 hours</option>
               <option value="300">5 hours</option>
               <option value="330">5.5 hours</option>               
               <option value="360">6 hours</option>               
          </select>

            <!--input type="number" class="form-control" id="tbDuration" aria-describedby="addon1" placeholder="1 - 360" ng-model="ManualDuration" min="1" max="360" required> </input-->
        </div>
    </div>
    <div class="col-md-3"></div>              
    </form>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">          
        <button type="button" class="btn btn-success btn-lg" ng-click="ManualStart()">Start</button>
        <button type="button" class="btn btn-danger btn-lg" ng-click="Stop()">Stop</button>
        <!--a class="btn btn-default" href="history" role="button">History</a-->        
        <p class="bg-danger">{{errorMessage}}</p>    
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">        
        <div class="alert alert-success" role="alert" ng-if="getShowAlert()">
            {{ManualCommandSuccess}}
        </div>        
    </div>
    <div class="col-md-3"></div>
</div>
<br />
