ul {list-style: none;padding-left:0px;}
li:hover {cursor: pointer;}
table.configItems {width:100%;}
table.configItems td {border-top:1px solid #777;}
table.configItems tr:hover {cursor: pointer;}

h4 {float:left;margin-top:5px;}
button {float:left;margin:5px;}